
body {
  margin: 0;
}

#outer {
  width: 100%;
  height: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
}

#inner {
  -moz-box-flex: 1;
  display: -moz-box;
}

#mainContent { 

} 

.draggingFileOverMe { 
   background-color:#ccc ! important;
} 

/* Items stacked on the left side */

li.itemfile, li.itemoption { 
} 

li.itemfile:hover { 
} 
 
li.selected { 
} 

#browserHeader {
  text-align: center;
  padding:2px;
  -moz-box-flex: 1;
  width:100%;
  display: -moz-box;
  -moz-box-orient: horizontal;
}

#browserButtons { 
  display:none;
  -moz-box-orient: horizontal;
} 

.config { 
  margin-top:.5em;
  -moz-border-radius:18px; 
  background-color:lightblue; 
  padding:.5em;
} 

button { 
  -moz-border-radius:18px; 
  background-color:lightblue; 
  padding:.5em;
  border:0px;
  margin-left:2px;
  -moz-box-shadow: 0 0 10px #888;
} 

button:hover { 
  background-color:white; 
} 

button#back { 
  -moz-border-radius:18px; 
  -moz-border-radius-topright:0px; 
  -moz-border-radius-bottomright:0px; 
} 

button#forward { 
  -moz-border-radius:18px; 
  -moz-border-radius-topleft:0px; 
  -moz-border-radius-bottomleft:0px; 
} 

#sidebarContent { 
  display: -moz-box;
  -moz-box-orient: vertical;
  width:0px; 
  height:100%; 
  overflow:hidden;
} 

.expanded { 
  width:200px ! important;
  overflow:none;
} 

.collapsed { 
  width:0px;
} 

#sidebarRightContent { 
} 

#sidebarRightContent:hover { 
} 

#marginLeftContent { 
  width:60px;
} 

#marginLeftContent:hover { 
  width:60px;
  cursor:pointer;
} 

#mainContent { 
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
  display: -moz-box;
  width: 100%;
  height: 100%;
} 

#contentToolbar { 
   padding:1em;
} 

#browserFrame {
  -moz-box-flex: 1;
  width: 100%;
  height: 100%;
  border:0px;
  background:none;
}

#browserHeader > div {
  margin-right: 2px;
  margin-left: 2px;
}

#urlbox {
  -moz-box-flex: 1;
}

#urlbox form {
  padding: 0;
  margin: 0;
  border: 0;
}

#urlinput {
 background: lightblue url(bg.png) 0% 0 no-repeat; 
 width: 100%;
 font-size: .8em;
 padding: .5em ! important;
}

