
/* Book skin, white and pages like shades using moz linear gradient */

.itemfile, .itemoption { 
  font-size:80%; 
  border-bottom:1px solid gray; 
  padding:.3em;
  margin:.5em;
  background-color:#ddd;
} 

li.itemfile:hover { 
  cursor:pointer;
  -moz-box-shadow: 10px 5px 5px #ccc;
} 
.selected { 
  -moz-box-shadow: 10px 5px 5px black;
} 

#browserHeader {
}

#sidebarContent { 

} 

.expanded { 
  width:200px ! important;
  overflow:none;
} 

.collapsed { 
  width:0px;
} 

#sidebarRightContent { 
  width:60px; 
  height:100%; 
  background: white -moz-linear-gradient(right,  #544,  transparent);
} 

#sidebarRightContent:hover { 
  background: white -moz-linear-gradient(right,  #544, transparent, transparent);
  cursor:pointer;
} 

#contentFrameSidebar { 
  -moz-box-flex: 1;
  width: 100%;
  height: 100%;
  margin:1em;
  border:0px;
  background:none;
} 

#marginLeftContent { 
  background: white -moz-linear-gradient(left,  #877,  transparent);
  width:60px;
} 

#marginLeftContent:hover { 
  background: white -moz-linear-gradient(left,  #877, transparent,  transparent);
  width:60px;
  cursor:pointer;
} 

#contentContent { 
  background: white;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
  display: -moz-box;
  width: 100%;
  height: 100%;
} 

#browserFrame {
  margin:1em;
}

#browserHeader > div {
  margin-right: 2px;
  margin-left: 2px;
}

#urlbox {
  -moz-box-flex: 1;
}

#urlbox form {
  padding: 0;
  margin: 0;
  border: 0;
}

#urlinput {
 width: 100%;
 padding: 2px;
 font-size: .8em;
}

#outer {
  margin: 0;
  width: 100%;
  height: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
}
